@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Young+Serif&display=swap');
body {
    background-color: #121213;
    margin: 0;
    padding: 0;
}

hr {
    background-color: #3a3a3c;
}

h1 {
    font-family: 'Young Serif', sans-serif;
    color: white;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 53px 53px 53px 53px 53px;
    gap: 5px;
    place-content: center;
}

.container div{
    height: 3.1rem;
    width: 3rem;
    margin: 0;
    padding:0;
    margin-bottom: 5px;
}

input{
    caret-color: transparent;
    border: 2px solid #3a3a3c;
    width: inherit;
    margin: 0;
    padding: 0;
    height: inherit;
    background-color: transparent;
    outline: none;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Montserrat',sans-serif;
}

