@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Young+Serif&display=swap');
body {
    background-color: #121213;
    margin: 0;
    padding: 0;
}

hr {
    color: #3a3a3c;
}

h1 {
    font-family: 'Young Serif', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6 {
    display: flex;
    justify-content: center;

}

.box{
    font-family: 'Young Serif',sans-serif;
    text-align: center;
    font-size: 35px;
    color: white;
}


.box1, .box2, .box3, .box4, .box5 {
    border: 2px solid #3a3a3c;
    height: 3rem;
    width: 3rem;
    margin: 2.5px;
}